<header class="Page-header">
  <div class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-target=".Page-navs" data-toggle="collapse">
          <span class="sr-only">切换导航</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{ '/' | prepend: site.url }}" class="navbar-brand" title="回到首页">Anti-chaos</a>
      </div>
      <!-- 导航 -->
      <nav class="Page-navs navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/guides/">指南</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="/ecosystem/" data-toggle="dropdown">生态 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">开发套件</li>
              <li><a href="/projects/toolbox/">Toolbox</a></li>
              <li><a href="https://petals.fxxk.design/" title="跨 JS-based 技术栈控件（UI 组件）体系" target="_blank" rel="external nofollow">Petals</a></li>
              <li><a href="https://handiejs.github.io/kit/" target="_blank" rel="external nofollow">Handie</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">团队协作</li>
              <li><a href="/guides/coding-style/">代码风格</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="/about/" data-toggle="dropdown">关于 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/about/">团队</a></li>
              <li><a href="https://github.com/anti-chaos" target="_blank" rel="external nofollow">GitHub</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
