@import "../helper";

.Homepage {
  &-header {
    height: 400px;
    padding: 0 15px;
    background: image-url("banners/anti-chaos") transparent no-repeat 50% 50%;
    background-size: cover;

    &,
    > div {
      position: relative;
      overflow: hidden;
    }

    &:before {
      content: "\0020";
      background-color: #000;
      opacity: 0.35;
      @include stretch;
    }

    > div {
      max-width: 1170px;
      margin: 0 auto;
      color: #fff;
    }
  }

  &-title {
    margin: {
      top: 100px;
      bottom: 30px;
    }
    font-size: 72px;
  }

  &-slogan {
    font-size: 28px;
  }

  @media all and (max-width: $screen-sm-max) {
    &-header {
      height: 250px;
    }

    &-title {
      margin: {
        top: 80px;
        bottom: 15px;
      }
      font-size: 48px;
    }

    &-slogan {
      font-size: 20px;
    }
  }
}

.Post {
  padding: 24px 0;

  &-title {
    margin: 0 !important;
    padding: 0 !important;
    border-bottom: none !important;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: #0871ab;
      }

      &:focus {
        color: #23527c;
      }
    }
  }

  &-body {
    margin: 16px 0;

    p {
      margin-bottom: 0;
      line-height: inherit;
    }
  }

  &-footer {
    font-size: 14px;
  }

  &-author {
    margin-right: 1.5em;
    font-weight: 400;
  }

  &-date {
    color: #a6a6a6;

    .fa {
      margin-right: .5em;
    }
  }

  + .Post {
    border-top: 1px solid #f0f0f0;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}
