---
layout: default
css:
  - pages/index
permalink: index.html
---

{% include header.html %}
<main class="Page-content">
  <header class="Homepage-header">
    <div>
      <h1 class="Homepage-title">Anti-chaos</h1>
      <p class="Homepage-slogan">让前端开发更加有序，<br>让业务开发专注业务。</p>
    </div>
    <figure class="sr-only">
      <img src="{{ 'banners/anti-chaos' | asset_path }}" alt="Anti-chaos">
      <figcaption>Anti-chaos</figcaption>
    </figure>
  </header>
  <div class="container">
    <article class="Page-main Article">
      <div class="Article-content">
        <section>
          <h2>推荐阅读</h2>
          {% assign utm_flag = "?utm_source=ntks.ourai.ws&utm_medium=homepage" %}
          {% assign total = 1 %}
          {% for item in site.data.dailies.items reversed %}
            {% if total < 6 %}
              {% assign daily = item[1] %}
              {% assign author = site.data.people.items[daily.origin.author] %}
              <div class="Post">
                <h3 class="Post-title"><a href="{{ daily.origin.url }}{{ utm_flag }}" target="_blank" rel="external nofollow">{{ daily.title }}</a></h3>
                <div class="Post-body">{{ daily.description | markdownify }}</div>
                <div class="Post-footer">{% if author %}<a class="Post-author" href="{{ author.homepage }}{{ utm_flag }}" target="_blank" rel="external nofollow">{{ author.name }}</a>{% endif %}{% if daily.date %}<time class="Post-date" datetime="{{ daily.date | date_to_xmlschema }}"><i class="fa fa-calendar"></i><span>{{ daily.date | date: "%F" }}</span></time>{% endif %}</div>
              </div>
            {% endif %}
            {% assign total = total | plus: 1 %}
          {% endfor %}
          <p><a href="/posts/">查看更多 >></a></p>
        </section>
      </div>
    </article>
  </div>
</main>
{% include footer.html %}
