---
title: 推荐阅读
special_title: 文章
css:
  - pages/posts
banner:
  url: banners/anti-chaos
image: banners/anti-chaos
---

<p>推荐一些符合「<a href="/guides/">反混沌</a>」理念的文章——</p>
{% for item in site.data.dailies.items reversed %}
  {% assign daily = item[1] %}
  <section class="Post">
    <header class="Post-header">
      <h2 class="Post-title"><a href="{{ daily.origin.url }}?utm_source=ntks.ourai.ws&utm_medium=recommended" target="_blank" rel="external nofollow">{{ daily.title }}</a></h2>
    </header>
    <div class="Post-body">{{ daily.description | markdownify }}</div>
    <div class="Post-footer">{% if daily.origin.author %}<a class="Post-author" href="javascript:void(0);">{{ daily.origin.author }}</a>{% endif %}<time class="Post-date" datetime="{{ daily.date | date: '%F' }}"><i class="fa fa-calendar"></i><span>{{ daily.date | date: "%F" }}</span></time></div>
  </section>
{% endfor %}

{% contentfor footer %}
  {% include widgets/social.html %}
{% endcontentfor %}
