---
title: 「反混沌」的背后
css:
  - pages/about
banner:
  url: banners/anti-chaos
image: banners/anti-chaos
comments: true
---

<h2>核心成员</h2>
<ul class="MemberList">
  {% for mem in site.data.members %}
  <li class="MemberList-item TeamMember">
    <figure class="TeamMember-figure">
      <a class="TeamMember-avatar" href="{{ mem.homepage }}" target="_blank" rel="external nofollow"><img src="{{ 'avatars/' | append: mem.avatar | asset_path }}" /></a>
      <figcaption class="TeamMember-brief"><a href="{{ mem.homepage }}" target="_blank" rel="external nofollow">{{ mem.name }}</a>，{{ mem.position }}</figcaption>
    </figure>
  </li>
  {% endfor %}
  <li class="MemberList-item TeamMember TeamMember--joinUs">
    <a class="TeamMember-avatar" href="/join/"><span>寻找同路人</span></a>
    <div class="TeamMember-brief">加入我们</div>
  </li>
</ul>

{% contentfor footer %}
  {% include widgets/social.html %}
  {% include widgets/toc.html %}
{% endcontentfor %}
